<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/restaurants" class="navbar-wagon-brand">
    <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Chef-2-icon.png" />
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="/restaurants" class="navbar-wagon-item navbar-wagon-link">All Restaurants</a>


    <!-- Button (call-to-action) -->
    <a href="/restaurants/new" class="navbar-wagon-item navbar-wagon-button btn">Add Restaurant</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
</div>
